Repository selvamt94/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rancher/release-team, @rancher/elemental, @rancher/fleet, @rancher/harvester, @rancher/longhorn, @rancher/neuvector, @rancher/highlander, @rancher/infracloud-team, @rancher/observation-backup, @rancher/socket, @rancher/rke1-team, @rancher/rancher-team-2-hostbusters-dev, @rancher/rancher-squad-frameworks

make chart
  assets/neuvector-monitor/neuvector-monitor-104.0.6+up2.8.6.tgz
  charts/neuvector-monitor/104.0.6+up2.8.6/Chart.yaml
  charts/neuvector-monitor/104.0.6+up2.8.6/README.md
  charts/neuvector-monitor/104.0.6+up2.8.6/app-readme.md
  charts/neuvector-monitor/104.0.6+up2.8.6/dashboards/nv_dashboard.json
  charts/neuvector-monitor/104.0.6+up2.8.6/questions.yaml
  charts/neuvector-monitor/104.0.6+up2.8.6/templates/_helpers.tpl
  charts/neuvector-monitor/104.0.6+up2.8.6/templates/dashboard.yaml
  charts/neuvector-monitor/104.0.6+up2.8.6/templates/exporter-deployment.yaml
  charts/neuvector-monitor/104.0.6+up2.8.6/templates/exporter-service.yaml
  charts/neuvector-monitor/104.0.6+up2.8.6/templates/exporter-servicemonitor.yaml
  charts/neuvector-monitor/104.0.6+up2.8.6/templates/secret.yaml
  charts/neuvector-monitor/104.0.6+up2.8.6/values.yaml
  index.yaml
Owners: @rancher/neuvector

Update release.yaml
  release.yaml
Owners: none

[dev-v2.12] rancher-alerting-drivers 107.0.0-rc.1 create (#5762)
  assets/logos/rancher-alerting-drivers.svg
  assets/rancher-alerting-drivers/rancher-alerting-drivers-107.0.0-rc.1.tgz
  charts/rancher-alerting-drivers/107.0.0-rc.1/Chart.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/README.md
  charts/rancher-alerting-drivers/107.0.0-rc.1/app-readme.md
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/prom2teams/.helmignore
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/prom2teams/Chart.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/prom2teams/files/teams.j2
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/prom2teams/templates/NOTES.txt
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/prom2teams/templates/_helpers.tpl
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/prom2teams/templates/configmap.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/prom2teams/templates/deployment.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/prom2teams/templates/psp.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/prom2teams/templates/service-account.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/prom2teams/templates/service.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/prom2teams/values.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/sachet/.helmignore
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/sachet/Chart.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/sachet/files/template.tmpl
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/sachet/templates/NOTES.txt
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/sachet/templates/_helpers.tpl
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/sachet/templates/configmap-pre-install.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/sachet/templates/deployment.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/sachet/templates/psp.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/sachet/templates/service-account.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/sachet/templates/service.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/charts/sachet/values.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/questions.yml
  charts/rancher-alerting-drivers/107.0.0-rc.1/templates/NOTES.txt
  charts/rancher-alerting-drivers/107.0.0-rc.1/templates/_helpers.tpl
  charts/rancher-alerting-drivers/107.0.0-rc.1/templates/cluster-role.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/templates/hardened.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/templates/validate-psp-install.yaml
  charts/rancher-alerting-drivers/107.0.0-rc.1/values.yaml
  index.yaml
  packages/rancher-alerting/rancher-alerting-drivers/package.yaml
  release.yaml
Owners: @rancher/observation-backup

[dev-v2.12] updated hosted providers chart package (#5819)
  packages/rancher-aks-operator/package.yaml
  packages/rancher-aks-operator/rancher-aks-operator-crd/package.yaml
  packages/rancher-aks-operator/rancher-aks-operator/generated-changes/patch/Chart.yaml.patch
  packages/rancher-aks-operator/rancher-aks-operator/package.yaml
  packages/rancher-eks-operator/package.yaml
  packages/rancher-gke-operator/package.yaml
  packages/rancher-gke-operator/rancher-gke-operator-crd/package.yaml
  packages/rancher-gke-operator/rancher-gke-operator/generated-changes/patch/Chart.yaml.patch
  packages/rancher-gke-operator/rancher-gke-operator/package.yaml
Owners: @rancher/highlander, @rancher/infracloud-team

[dev-v2.12] remove hostedproviders old rc charts (#5823)
  assets/rancher-aks-operator-crd/rancher-aks-operator-crd-106.1.0+up1.11.1-rc.1.tgz
  assets/rancher-aks-operator/rancher-aks-operator-106.1.0+up1.11.1-rc.1.tgz
  assets/rancher-eks-operator-crd/rancher-eks-operator-crd-106.1.0+up1.11.1-rc.2.tgz
  assets/rancher-eks-operator/rancher-eks-operator-106.1.0+up1.11.1-rc.2.tgz
  assets/rancher-gke-operator-crd/rancher-gke-operator-crd-106.1.0+up1.11.1-rc.1.tgz
  assets/rancher-gke-operator/rancher-gke-operator-106.1.0+up1.11.1-rc.1.tgz
  charts/rancher-aks-operator-crd/106.1.0+up1.11.1-rc.1/Chart.yaml
  charts/rancher-aks-operator-crd/106.1.0+up1.11.1-rc.1/templates/crds.yaml
  charts/rancher-aks-operator/106.1.0+up1.11.1-rc.1/Chart.yaml
  charts/rancher-aks-operator/106.1.0+up1.11.1-rc.1/templates/NOTES.txt
  charts/rancher-aks-operator/106.1.0+up1.11.1-rc.1/templates/_helpers.tpl
  charts/rancher-aks-operator/106.1.0+up1.11.1-rc.1/templates/clusterrole.yaml
  charts/rancher-aks-operator/106.1.0+up1.11.1-rc.1/templates/clusterrolebinding.yaml
  charts/rancher-aks-operator/106.1.0+up1.11.1-rc.1/templates/deployment.yaml
  charts/rancher-aks-operator/106.1.0+up1.11.1-rc.1/templates/serviceaccount.yaml
  charts/rancher-aks-operator/106.1.0+up1.11.1-rc.1/values.yaml
  charts/rancher-eks-operator-crd/106.1.0+up1.11.1-rc.2/Chart.yaml
  charts/rancher-eks-operator-crd/106.1.0+up1.11.1-rc.2/templates/crds.yaml
  charts/rancher-eks-operator/106.1.0+up1.11.1-rc.2/Chart.yaml
  charts/rancher-eks-operator/106.1.0+up1.11.1-rc.2/templates/NOTES.txt
  charts/rancher-eks-operator/106.1.0+up1.11.1-rc.2/templates/_helpers.tpl
  charts/rancher-eks-operator/106.1.0+up1.11.1-rc.2/templates/clusterrole.yaml
  charts/rancher-eks-operator/106.1.0+up1.11.1-rc.2/templates/clusterrolebinding.yaml
  charts/rancher-eks-operator/106.1.0+up1.11.1-rc.2/templates/deployment.yaml
  charts/rancher-eks-operator/106.1.0+up1.11.1-rc.2/templates/serviceaccount.yaml
  charts/rancher-eks-operator/106.1.0+up1.11.1-rc.2/values.yaml
  charts/rancher-gke-operator-crd/106.1.0+up1.11.1-rc.1/Chart.yaml
  charts/rancher-gke-operator-crd/106.1.0+up1.11.1-rc.1/templates/crds.yaml
  charts/rancher-gke-operator/106.1.0+up1.11.1-rc.1/Chart.yaml
  charts/rancher-gke-operator/106.1.0+up1.11.1-rc.1/templates/NOTES.txt
  charts/rancher-gke-operator/106.1.0+up1.11.1-rc.1/templates/_helpers.tpl
  charts/rancher-gke-operator/106.1.0+up1.11.1-rc.1/templates/clusterrole.yaml
  charts/rancher-gke-operator/106.1.0+up1.11.1-rc.1/templates/clusterrolebinding.yaml
  charts/rancher-gke-operator/106.1.0+up1.11.1-rc.1/templates/deployment.yaml
  charts/rancher-gke-operator/106.1.0+up1.11.1-rc.1/templates/serviceaccount.yaml
  charts/rancher-gke-operator/106.1.0+up1.11.1-rc.1/values.yaml
  release.yaml
Owners: @rancher/highlander, @rancher/infracloud-team

Add NeuVector chart version 2.8.6
  assets/logos/neuvector.png
  packages/neuvector/generated-changes/patch/Chart.yaml.patch
  packages/neuvector/generated-changes/patch/README.md.patch
  packages/neuvector/generated-changes/patch/templates/controller-deployment.yaml.patch
  packages/neuvector/generated-changes/patch/templates/enforcer-daemonset.yaml.patch
  packages/neuvector/generated-changes/patch/templates/manager-deployment.yaml.patch
  packages/neuvector/generated-changes/patch/templates/registry-adapter.yaml.patch
  packages/neuvector/generated-changes/patch/templates/scanner-deployment.yaml.patch
  packages/neuvector/generated-changes/patch/templates/updater-cronjob.yaml.patch
  packages/neuvector/generated-changes/patch/values.yaml.patch
  packages/neuvector/package.yaml
  packages/neuvector/templates/crd-template/Chart.yaml
Owners: @rancher/neuvector

Update release.yaml
  release.yaml
Owners: none

.github/CODEOWNERS:

# Global Reviewer
/.github @rancher/release-team
/docs @rancher/release-team
/scripts @rancher/release-team
/CNAME @rancher/release-team
/Makefile @rancher/release-team
/README.md @rancher/release-team
/_config.yml @rancher/release-team
/configuration.yaml @rancher/release-team
/regsync.yaml @rancher/release-team
/index.html @rancher/release-team

# Elemental
packages/elemental @rancher/elemental
assets/elemental @rancher/elemental

# Fleet
packages/fleet @rancher/fleet
assets/fleet @rancher/fleet

# Harvester
packages/harvester @rancher/harvester
assets/harvester @rancher/harvester

# Longhorn
packages/longhorn @rancher/longhorn
packages/longhorn-crd @rancher/longhorn
assets/longhorn @rancher/longhorn
assets/longhorn-crd @rancher/longhorn

# Neuvector
packages/neuvector @rancher/neuvector
packages/neuvector-monitor @rancher/neuvector
assets/neuvector @rancher/neuvector
assets/neuvector-monitor @rancher/neuvector

# Rancher AKS EKS GKE
packages/rancher-aks-operator @rancher/highlander @rancher/infracloud-team
packages/rancher-eks-operator @rancher/highlander @rancher/infracloud-team
packages/rancher-gke-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-aks-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-eks-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-gke-operator @rancher/highlander @rancher/infracloud-team


# Rancher Alerting
packages/rancher-alerting @rancher/observation-backup
assets/rancher-alerting @rancher/observation-backup

# Rancher Backup
packages/rancher-backup @rancher/observation-backup
assets/rancher-backup @rancher/observation-backup

# Rancher CIS Benchmark
packages/rancher-cis-benchmark @rancher/infracloud-team
tests/rancher-cis-benchmark @rancher/infracloud-team
assets/rancher-cis-benchmark @rancher/infracloud-team

# Rancher CSP Adapter
packages/rancher-csp-adapter @rancher/socket
assets/rancher-csp-adapter @rancher/socket

# Rancher Istio
packages/rancher-istio @rancher/observation-backup
tests/rancher-istio @rancher/observation-backup

# Rancher Logging
packages/rancher-logging @rancher/observation-backup
assets/rancher-logging @rancher/observation-backup

# Rancher Monitoring
packages/rancher-monitoring @rancher/observation-backup
assets/rancher-monitoring @rancher/observation-backup

# Rancher SRIOV
packages/rancher-sriov @rancher/rke1-team
packages/rancher-nfd @rancher/rke1-team
assets/rancher-sriov @rancher/rke1-team
assets/rancher-nfd @rancher/rke1-team

# Rancher Provisioning CAPI
packages/rancher-provisioning-capi @rancher/rancher-team-2-hostbusters-dev
assets/rancher-provisioning-capi @rancher/rancher-team-2-hostbusters-dev

# Rancher VSphere
packages/rancher-vsphere @rancher/rancher-team-2-hostbusters-dev
assets/rancher-vsphere-cpi @rancher/rancher-team-2-hostbusters-dev
assets/rancher-vsphere-csi @rancher/rancher-team-2-hostbusters-dev

# Rancher Windows GSMA
packages/rancher-windows-gsma @rancher/rancher-team-2-hostbusters-dev
assets/rancher-windows-gsma @rancher/rancher-team-2-hostbusters-dev

# Rancher Webhook
packages/rancher-webhook @rancher/rancher-squad-frameworks
assets/rancher-webhook @rancher/rancher-squad-frameworks

# System Upgrade Controller
packages/system-upgrade-controller @rancher/rancher-team-2-hostbusters-dev
assets/system-upgrade-controller @rancher/rancher-team-2-hostbusters-dev

# UI Extension Operator
packages/ui-plugin-operator @rancher/observation-backup
